:root {
	--ion-color-main: #10a5d3;
	--ion-color-main-rgb: 16, 165, 211;
	--ion-color-main-contrast: #ffffff;
	--ion-color-main-contrast-rgb: 255, 255, 255;
	--ion-color-main-shade: #0e91ba;
	--ion-color-main-tint: #28aed7;
}

.ion-color-main {
	--ion-color-base: var(--ion-color-main);
	--ion-color-base-rgb: var(--ion-color-main-rgb);
	--ion-color-contrast: var(--ion-color-main-contrast);
	--ion-color-contrast-rgb: var(--ion-color-main-contrast-rgb);
	--ion-color-shade: var(--ion-color-main-shade);
	--ion-color-tint: var(--ion-color-main-tint);
}

:root {
	/* These examples use the same color: sienna. */
	--ion-text-color: #a0522d;
	--ion-text-color-rgb: 160, 82, 45;

	/* These examples use the same color: lightsteelblue. */
	--ion-background-color: #b0c4de;
	--ion-background-color-rgb: 176, 196, 222;
}

.title {
	font-size: x-large;
}
